<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225630912375-97pvkhmseh3hpdjbafsptskd3tscgfvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225630912375-97pvkhmseh3hpdjbafsptskd3tscgfvb</string>
	<key>API_KEY</key>
	<string>AIzaSyBczmMZCBLjCBLsJ1v34Y8IOeVYcDCM2OE</string>
	<key>GCM_SENDER_ID</key>
	<string>225630912375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.debugApp</string>
	<key>PROJECT_ID</key>
	<string>debug-app-dada8</string>
	<key>STORAGE_BUCKET</key>
	<string>debug-app-dada8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225630912375:ios:f37cb198d0aec8cb9d6b72</string>
</dict>
</plist>